<div class="centered-content">
  <div class="task-manager-container">
    <!-- Lists -->
    <div class="sidebar has-backgroud-white">
      <h1 class="title has-text-primary">Lists</h1>

      <div class="list-menu">
        <a href="" class="list-menu-item is-active">
          <p>List #1</p>
        </a>
        <a href="" class="list-menu-item">
          <p>List #1</p>
        </a>
        <a href="" class="list-menu-item">
          <p>List #1</p>
        </a>
        <a href="" class="list-menu-item">
          <p>List #1</p>
        </a>
      </div>

      <button class="button is-primary has-text-white">+ New List</button>
    </div>

    <!-- Tasks -->
    <div class="task-list-container has-backgroud-light">
      <h1 class="title has-text-primary">Tasks</h1>

      <!-- Task Elements -->
      <div class="task">
        <p>Sth I Have TO DO</p>
      </div>
      <div class="task">
        <p>Sth I Have TO DO</p>
      </div>
      <div class="task">
        <p>Sth I Have TO DO</p>
      </div>
      <div class="task complete">
        <p>Sth I Have TO DO</p>
      </div>
    </div>
  </div>
</div>
